.form-control:focus {
    box-shadow: none;
    border-color: #1f2b72
}

.labels {
    font-size: 12px
}

.link-underline-secondary {
    cursor: pointer;
}

p {
    margin-bottom: 1rem;
    font-size: small;
  }