<div class="container">
  <div class="customer">
    <div class="title text-start">Add New Customer</div>
    <br />
    <hr class="my-1" />
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <!-- User Name Field -->
        <div class="col-12 col-md-4 mb-3">
          <label for="userName" class="form-label">User Name</label>
          <input
            id="userName"
            formControlName="userName"
            type="text"
            class="form-control"
          />
          <div
            *ngIf="
              userForm.get('userName')?.invalid &&
              (userForm.get('userName')?.dirty ||
                userForm.get('userName')?.touched)
            "
          >
            <small
              class="text-danger"
              *ngIf="userForm.get('userName')?.errors?.['required']"
              >User Name is required.</small
            >
          </div>
        </div>
        <!-- Password Field -->
        <div class="col-12 col-md-4 mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            id="password"
            formControlName="password"
            class="form-control"
            type="password"
            style="background-color: #d3d3d3"
            readonly
          />
        </div>
        <!-- Role Field -->
        <div class="col-12 col-md-4 mb-3">
          <label for="isAdmin" class="form-label">Role</label>
          <select id="isAdmin" formControlName="isAdmin" class="form-control">
            <option value="">Select a Role</option>
            <option [ngValue]="true">Admin</option>
            <option [ngValue]="false">Customer</option>
          </select>

          <div
            *ngIf="
              userForm.get('isAdmin')?.invalid &&
              (userForm.get('isAdmin')?.dirty ||
                userForm.get('isAdmin')?.touched)
            "
          >
            <small
              class="text-danger"
              *ngIf="userForm.get('isAdmin')?.errors?.['required']"
              >Role is required.</small
            >
          </div>
        </div>
      </div>
      <div class="row">
        <!-- First Name -->
        <div class="col-12 col-md-4 mb-3">
          <label for="firstName" class="form-label">First Name</label>
          <input
            id="firstName"
            formControlName="firstName"
            type="text"
            class="form-control"
          />
          <div
            *ngIf="
              userForm.get('firstName')?.invalid &&
              (userForm.get('firstName')?.dirty ||
                userForm.get('firstName')?.touched)
            "
          >
            <small
              class="text-danger"
              *ngIf="userForm.get('firstName')?.errors?.['required']"
              >First Name is required.</small
            >
          </div>
        </div>
        <!-- Middle Name -->
        <div class="col-12 col-md-4 mb-3">
          <label for="middleName" class="form-label">Middle Name</label>
          <input
            id="middleName"
            formControlName="middleName"
            type="text"
            class="form-control"
          />
        </div>
        <!-- Last Name -->
        <div class="col-12 col-md-4 mb-3">
          <label for="lastName" class="form-label">Last Name</label>
          <input
            id="lastName"
            formControlName="lastName"
            type="text"
            class="form-control"
          />
          <div
            *ngIf="
              userForm.get('lastName')?.invalid &&
              (userForm.get('lastName')?.dirty ||
                userForm.get('lastName')?.touched)
            "
          >
            <small
              class="text-danger"
              *ngIf="userForm.get('lastName')?.errors?.['required']"
              >Last Name is required.</small
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            id="email"
            formControlName="email"
            type="email"
            class="form-control"
          />
          <div
            *ngIf="
              userForm.get('email')?.invalid &&
              (userForm.get('email')?.dirty || userForm.get('email')?.touched)
            "
          >
            <small
              class="text-danger"
              *ngIf="userForm.get('email')?.errors?.['required']"
              >Email is required.</small
            >
          </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
          <label for="mobileNumber" class="form-label">Mobile Number</label>
          <input
            id="mobileNumber"
            formControlName="mobileNumber"
            type="text"
            class="form-control"
          />
          <div
            *ngIf="
              userForm.get('mobileNumber')?.invalid &&
              (userForm.get('mobileNumber')?.dirty ||
                userForm.get('mobileNumber')?.touched)
            "
          >
            <small
              class="text-danger"
              *ngIf="userForm.get('mobileNumber')?.errors?.['required']"
              >Mobile Number is required.</small
            >
            <small
              class="text-danger"
              *ngIf="userForm.get('mobileNumber')?.errors?.['minlength']"
              >Mobile Number must be exactly 12 characters long.</small
            >
            <small
              class="text-danger"
              *ngIf="userForm.get('mobileNumber')?.errors?.['maxlength']"
              >Mobile Number must be exactly 12 characters long.</small
            >
            <small
              class="text-danger"
              *ngIf="userForm.get('mobileNumber')?.errors?.['pattern']"
              >Mobile Number must contain digits only.</small
            >
          </div>
        </div>
      </div>
      <hr class="my-3" />
      <div
        class="d-flex flex-column flex-md-row justify-content-between align-items-center"
      >
        <div>
          <button
            type="button"
            class="btn btn-outline-danger mb-2 mb-md-0"
            (click)="onCancel()"
          >
            Cancel
          </button>
          <button
            type="button"
            class="btn btn-secondary ms-0 ms-md-2"
            (click)="onClear()"
          >
            Clear
          </button>
        </div>
        <button class="btn btn-primary" type="submit">Add Customer</button>
      </div>
    </form>
  </div>
</div>
