<app-header></app-header>
<h1>Dashboard</h1>
<h2>Cart</h2>
[<div class="cart" *ngFor="let cartProduct of carts; let i = index">
        id:{{cartProduct.id}} | Name:{{cartProduct.productName}} | Quantity: {{cartProduct.quantity}}
</div>
] <br/>
 
Product Name Search
<input type="text" placeholder="Search..." [(ngModel)]="searchModel.productNameQuery" (input)="onSearch('NAME')" /> <br>
Product Category Search
<input type="text" placeholder="Search..." [(ngModel)]="searchModel.productCategoryQuery" (input)="onSearch('CATEGORY')" /> <br>
Price Tag Search
<input type="number" min="0"  [(ngModel)]="searchModel.productMinCost" (input)="onSearch('COST')"/> 
- 
<input type="number" min="0"  [(ngModel)]="searchModel.productMaxCost" (input)="onSearch('COST')"/><br/>
<!-- <ul>
  <li *ngFor="let item of filteredItems">{{ item }}</li>
</ul> -->
<div class="marketing flex">
        <div class="product-container" *ngFor="let product of filteredProducts">
                <app-product-item [productsInput]="product" (actionEmitter)="executeAction($event)"></app-product-item>
        </div>
</div>        

       
