<app-header></app-header>
<h1 class="title">Dashboard</h1>

<div class="dropdown">
        <div class="dropdown-btn"><button class="btn btn-outline-dark" (click)="toggleDropdown()">Filters</button></div>
        <div class="dropdown-content" *ngIf="isOpen">
                <div class="left">
                        Product Name Search
                        <input type="text" placeholder="Search..." [(ngModel)]="searchModel.productNameQuery" (input)="onSearch('NAME')" /> <br>
                        Product Category Search
                        <select [(ngModel)]="searchModel.productCategoryQuery" (change)="onSearch('CATEGORY')">
                                <option value="">None</option>
                                <option *ngFor="let category of categories" value="{{category}}">{{category}}</option>
                        </select><br>
                        Price Tag Search
                        <input type="number" min="0"  [(ngModel)]="searchModel.productMinCost"  #minCost="ngModel" (input)="onSearch('COST')"/> 
                        - 
                        <input type="number" min="0"  [(ngModel)]="searchModel.productMaxCost"  #maxCost="ngModel" (input)="onSearch('COST')"/><br/>
                        <div *ngIf="(minCost.errors && minCost.touched) || (maxCost.errors && maxCost.touched)">
                                <div *ngIf="minCost?.errors?.['min'] || maxCost?.errors?.['min']">The number must be at least 0 for min and max cost.</div>
                        </div>
                </div>
                <div class="right">
                        Sort by
                        <select [(ngModel)]="searchModel.sortByType" (change)="onSortBy()">
                                <option value="DEFAULT">Default</option>
                                <option value="ASCENDING NAME">Name (A-Z)</option>
                                <option value="DESCENDING NAME">Name (Z-A)</option>
                                <option value="ASCENDING PRICE">Price (low-high)</option>
                                <option value="DESCENDING PRICE">Price (high-low)</option>
                        </select>
                </div>
        </div>
</div>



 

<!-- <ul>
  <li *ngFor="let item of filteredItems">{{ item }}</li>
</ul> -->
<div class="marketing flex">
        <div class="product-container" *ngFor="let product of filteredProducts">
                <app-product-item [productsInput]="product" (actionEmitter)="executeAction($event)"></app-product-item>
        </div>
</div>        

       
