.button-container {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.btn {
    flex: 1;
}

.flex{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    max-width: 200px;
    max-height: 200px;   
}

#quantity{
    margin-top: 5px;
}

.text-success {
    color: green;
  }
  
.text-danger {
color: red;
}