* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.item {
  padding: 20px 20px;
  height: 200px;
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
}

.buttons {
  position: relative;
  padding-top: 50px;
  margin-right: 1px;
  padding-right: 0;
}

.image {
  display: flex;
  max-width: 200px;
  max-height: 200px;
  margin-right: 10px;
  margin-left: 10px;
  object-fit: cover;
}

.description {
  padding-top: 10px;
  margin-right: 5px;
  width: 300px;
  align-items: center;
}

.description span {
  display: block;
}

.description span:first-child {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 1px;
  color: #43484d;
}

.description span:last-child {
  font-weight: normal;
  color: #86939e;
  font-size: 16px;
}

button[class*="btn"] {
  display: inline-block;
  width: 55px;
  height: 55px;
  border: none;
  background-color: transparent;
  margin-left: 0;
  padding: 0;
}

.price {
  width: 130px;
  padding-top: 65px;
  text-align: center;
  font-size: 16px;
  color: orangered;
  margin-right: 10px;
}

@media (max-width: 800px) {
  .item {
    height: auto;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .image {
    display: flex;
    margin-right: 5px;
    margin-top: 2px;
  }

  .quantity {
    width: 100%;
    justify-content: center;
    display: flex;
    text-align: center;
    margin: 6px 0;
    align-items: center;
  }

  .description {
    width: 100%;
    text-align: center;
    margin: 2px 0;
  }

  .buttons {
    margin-right: 20px;
    padding-top: 0;
  }

  .price {
    padding-top: 10px;
  }
}
