<div class="item">
  <div class="image">
    <img
      class="img-fluid rounded"
      src="{{ product.image }}"
      alt="{{ product.name }}"
    />
  </div>
  <div class="description">
    <span>{{ product.name }}</span>
    <span>{{ product.description }}</span>
    <br />
    <span>Items Sold: {{ product.itemsSold }}</span>
  </div>
  <div class="price">
    <h5>₱ {{ product.price | number : "1.2-2" }}</h5>
  </div>
  <div class="buttons">
    <button class="delete-btn" (click)="onDelete()">
      <i class="fa-regular fa-trash-can" style="color: #eb3434"></i>
    </button>
    <button class="delete-btn" (click)="onEdit()">
      <i class="fa-solid fa-pen-to-square" style="color: #34eb40"></i>
    </button>
  </div>
</div>
