<app-header></app-header>
<br />
<div class="shopping-cart">
  <div class="empty-cart-container" *ngIf="pendingTransactions && pendingTransactions.length === 0">
    <div>
      <h2>There are no order history.</h2>
    </div>
  </div>
  <div *ngIf="pendingTransactions && pendingTransactions.length > 0">
    <div class="title">Order History</div>
    <hr class="my-1" />
    <div *ngFor="let transaction of pendingTransactions">
      <h5>Order ID: <b>{{transaction.id|uppercase}}</b> </h5>
      <p><i>{{transaction.dateOfTransaction | date : 'medium'}}</i></p>
      <app-per-transaction
        [transaction]="transaction"
      >
      </app-per-transaction>
    <div class="total">Total: ₱ {{ transaction.totalTransaction| number : "1.2-2" }}</div>
    <hr class="my-1" />
    </div>
  </div>
</div>

